
<body>
    <div class="wrapper">
        <div class="table group"> 

            <div class="block personal fl">
                <h2 class="title"><b>Orders</b></h2>
                <div class="content">
                        <div class="detail">{{totalOrders}}</div>
                    <p class="hint">Total Number of orders</p>
                </div>
            </div>
          
            <div class="block professional fl">
                <h2 class="title"><b>Accepted</b></h2>
                <div class="content">
                    <div class="detail">{{acceptedOders}}</div>
                    <p class="hint">Count of Accepted orders</p>
                </div>             
            </div>
          
            <div class="block business fl">
                <h2 class="title"><b>Canceled</b></h2>         
                <div class="content">
                    <div class="detail">{{canceledOrders}}</div>
                    <p class="hint">Count of Declined orders</p>
                </div>
            </div>

            <div class="block waiting fl">
                <h2 class="title"><b>Waiting</b></h2>                    
                <div class="content">
                    <div class="detail">{{waitingOrders}}</div>
                    <p class="hint">Count of Pending orders</p>
                </div>                                   
            </div>
          
        </div>
 
    </div>
