

            <div class="panel-heading">
              <h3 class="pt-3 font-weight-bold"><b>Forgot Password</b></h3>
            <br>
            <br>
            <div class="panel-body p-3">
              <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
                <p class="mb-2 fadeIn first"><b>Enter the Registered Email ID to Reset the Password:</b>
                </p>
                
                
                <div class="form-group pt-3">
                  <div class="input-field fadeIn second">
                    <i class="bi bi-envelope-fill"></i>&nbsp;
                    <input type="text" placeholder="Email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
                      <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                        <div *ngIf="f['email'].errors['required']">
                          <small class="text-danger">Email is required</small>
                        </div>
                        <div *ngIf="f['email'].errors['email']">
                          <small class="text-danger">Enter a valid Email</small>
                        </div>
                      </div>
                  </div>
                </div>
               
                <button  type="submit"  class="btn btn-primary btn-block mt-4 w-100 fadeIn third">Send Reset OTP</button>
              </form>
            </div>   
          </div>
          
        
  