/* 
body {
    background: #F2F2F2;
    font-family: 'Droid Sans', sans-serif;
    line-height: 1;
    font-size: 16px;
    margin-top: -225px;
    margin-left: 70px;
    height: 360px;
    border-radius: 20px;
    width: 400px;
}
ng ::host .element.style{
    width: 40%;
    height: 40%;


} */



.card{
    width: 640px;
    margin-top: -223px;
    text-align: center;
    margin-left: 70px;
    background-color:#F2F2F2;
    border-radius: 20px;
    height: 420px;
}

