<div class="widget-container" >
    <div class="widget green">
      <div class="icon">
        <i class="bi bi-cart-fill"></i>
      </div>
      <div class="value">
        <div class="top">{{totalOrders}}</div>
        <div class="bottom">All Orders</div>
      </div>
    </div>
    <div class="widget yellow">
      <div class="icon">
        <i class="bi bi-cart-check-fill"></i>
      </div>
      <div class="value">
        <div class="top">{{acceptedOrders}}</div>
        <div class="bottom">Accepted</div>
      </div>
    </div>
    <div class="widget red">
      <div class="icon">
        <i class="bi bi-cart-x-fill"></i>
      </div>
      <div class="value">
        <div class="top">{{declinedOrders}}</div>
        <div class="bottom">Declined</div>
      </div>
    </div>
    <div class="widget blue">
      <div class="icon">
        <i class="bi bi-currency-rupee"></i>
      </div>
      <div class="value">
        <div class="top">1150</div>
        <div class="bottom">Total Revenue</div>
      </div>
    </div>
  </div>