<div class="outer p-1 shadow-sm border border-primary">
            <div class="input-group">
              <div class="input-group-prepend">
                <button id="button-addon2" type="submit" class="btn btn-link text-primary" (click) = onSearch()><i class="bi bi-search"></i></button>
              </div>
              <input type="text" placeholder="What're you searching for?" aria-describedby="button-addon2" class="form-control border-0 bg-white" [(ngModel)]="query">
            </div>
          </div>