
            <div class="panel-heading">
              <h3 class="pt-3 font-weight-bold"><b>Forgot Password</b></h3>
              <div class="row">
                <div
                  class="col-12 d-flex flex-column justify-content-center align-items-center"
                >
                
                </div>
              </div>
            <div class="panel-body p-3 fadeIn first">
              <div class="text-center cd-text fadeIn first">
                <h4 class="my-3 fw-bold">Enter OTP</h4>
                
              </div>
              <div class="form-group pt-3">
                  <ng-otp-input  [config]="{length:6, allowNumbersOnly: true}" (onInputChange)="onOtpChange($event)"></ng-otp-input>
              </div>
              <form [formGroup] = "resetForm" (ngSubmit)="onSubmit()">
                
                <br>
                <h4 class="my-3 fw-bold">Enter your New Password</h4>
                
                <div class="form-group pt-3 fadeIn third">
                <div class="input-field">
                  <i class="bi bi-lock-fill"></i>&nbsp;
                  <input type="password" placeholder="New Password" formControlName="newPassword" [ngClass]="{ 'is-invalid': submitted && f['newPassword'].errors }">
                  <div *ngIf="submitted && f['newPassword'].errors" class="invalid-feedback">
                    <div *ngIf="f['newPassword'].errors['required']">
                      <small class="text-danger">Password is required</small>
                    </div>
                    <div *ngIf="f['newPassword'].errors['minlength']">
                      <small class="text-danger">Password Length must be Minimum 8</small>
                    </div>
                  </div>
                </div>
              </div>
                 
              
              <div class="form-group pt-3 fadeIn third">
                <div class="input-field">
                  <i class="bi bi-lock-fill"></i>&nbsp;
                  <input type="password" placeholder="Confirm Password" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }">
                  <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
                    <div *ngIf="f['confirmPassword'].errors['required']">
                      <small class="text-danger">Confirm Password is required</small>
                    </div>
                    <div *ngIf="f['confirmPassword'].errors['matching']">
                      <small class="text-danger">Confirm Password Does Not Match</small>
                    </div>
                  </div>
                </div>
              </div>
                <button  type="submit" class="btn btn-primary btn-block mt-4 w-100 fadeIn fourth "> Reset password</button>
                
              </form>
            </div>
          </div>