


    <p-card class="card">
      
        <p-table #dt [value]="order.data" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,20,30]" [totalRecords]="120"  [globalFilterFields]="['name','country.name','representative.name','status']"[tableStyle]="{'min-width': '75rem'}"
           [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true" styleClass="pager">
           
            <ng-template pTemplate="caption">
              <div class="p-d-flex p-ai-center p-jc-between">
                  
              </div>
      
                <h2>Order History</h2>
            </ng-template>
            
            <ng-template pTemplate="header">
                <tr>
                    
                    <th pSortableColumn="id" style="min-width:7rem"> Reference Id<p-sortIcon ></p-sortIcon></th>
                    <th pSortableColumn="service" style="min-width:5rem">Service <p-sortIcon ></p-sortIcon></th>
                    <th pSortableColumn="status" style="min-width:4rem">Status <p-sortIcon ></p-sortIcon></th>
                    <th pSortableColumn="from" style="min-width:4rem">Appointment From <p-sortIcon ></p-sortIcon></th>
                    <th pSortableColumn="to" style="min-width:4rem">Appointment To <p-sortIcon ></p-sortIcon></th>
                   
                    <th></th>
                </tr>
                
            </ng-template>
            <ng-template pTemplate="body" let-order>
              <tr>
                  
                  <td>{{order.id}}</td>
                  <td>{{order.serviceName }}</td>
                  <td><span pBadge  [value]="order.status" size="large" styleClass="p-mr-2"></span></td>
                  <td>{{order.appointmentFrom }}</td>
                  <td>{{order.appointmentTo }}</td>
                  
              </tr>
          </ng-template>         
        </p-table>
    </p-card>
    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
  
      
  