/* @import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/saga-blue/theme.css";
@import "~primeng/resources/primeng.min.css"; */
/* @import '_helpers';

:host::ng-deep{
    padding: 0 0.5rem;
    background-color: black;
    color: brown;
    font-size: 0.8rem;
} */

/* 
*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

nav{
    position: absolute;
    top:0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: rgb(44, 40, 40);
    color: #f2aa4cff;
    width: 250px;
    overflow: hidden; */
    /* transition: width 0.2s linear; */
    /* box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    padding: 25px;
}
.fas{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;   
}

.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px; */
   
    /* color: #f2aa4cff; */
/* } */
/* nav:hover{
    width: 280px;
    transition: all 0.5s ease;
    
} */
/* a{
    position: relative;
    background: rgb(44, 40, 40);
    font-size: 25px;
    display: table;
    width: 300px;
    padding: 10px;
    color: #f2aa4cff;

}
a:hover{
    background: #f2aa4cff;
    color: rgb(44, 40, 40);
} */