/* You can add global styles to this file, and also import other style files */
html, body 
{
    margin: 0%;
    height: 100% ;
    background: linear-gradient(0deg, rgba(63, 81, 181, 0.12) 0%, rgba(63, 81, 181, 0.12)100%) no-repeat fixed;
}