
<div class="top-section">
    <app-top-widgets></app-top-widgets>
  </div>
  <div class="middle-section">
    <div class="widget left">
  <app-bar-chart></app-bar-chart>
    </div>
    <div class="widget right" [style]="{'margin-right': '4%'}">
        <app-doughnut-chart></app-doughnut-chart>
    </div>
  <!-- </div>
  <div class="bottom-section"> -->
    <!-- <div class="widget left">
      <app-calendar></app-calendar>
    </div> -->
    <!-- <div class="widget right">
      <app-review-list></app-review-list>
    </div>
  </div> -->
  