

<div class="card">

  <div class="row">

    <div class="col-sm-6">
     <b> <h3>How you will appear on this site:</h3></b>
    <div >

      <img class="card-img-top img-fluid" [src]="user.profilePicture"  alt="" >

    </div>

    <ng-template #loading>

      <img class="card-img-top img-fluid" src="../../../../../assets/images/avatar.jpg" alt="" >

    </ng-template>

  <p></p>

    </div>

    <div class="col-sm-6">

      <h1><i class="bi bi-person-circle"></i> {{user.firstName}} {{user.lastName}}</h1><br>

      <h4><i class="bi bi-envelope-at-fill"></i> {{user.email}}</h4>
      <br>

      <h4><i class="bi bi-geo-alt-fill"></i> {{user.location}}</h4>
      <br>

      <h4><i class="bi bi-telephone-fill"></i> {{user.mobileNumber}}</h4>
      <br>

      <h5><i class="bi bi-file-earmark-person"></i> {{user.description}}</h5>

    </div>

  </div>

</div>