<div class="col-xl-8" >
    <!-- Account details card-->
    <div class="card mb-4" style ="background-color: white; border-radius: 20px;" >
        <div class="card-header"> <i class="bi bi-person-lines-fill"></i>&nbsp;Profile Details</div>
        <div class="card-body">
          <div class="row">
            <div class="col">
                        <!-- Profile picture image-->
                        <img class="img-account-profile rounded-circle mb-1" [src] ="user.profilePicture" alt="">
                        <!-- Profile picture help block-->
                        <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                       
                        <div class="text-center">
                              <input class="form-control" type="file" 
                                      (change)="onChange($event)" >
                            </div>
                    
                   
                <button (click)="updateProviderProfilePicture()" 
                    class="btn btn-success" [disabled]="enable" >
                    Upload
                </button>
            
            
            </div>
            <div class="col">
              <img src="../../../../../../assets/images/profileImage.jpg" width="350" height="300"  >
            </div>
          </div>
       
        

        <hr class="colorgraph">
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                
                <div class="row gx-3 mb-3">
                  <div class="col-md-6">
                    
                    <i class="bi bi-person-circle"></i>&nbsp;
                    <label class="small mb-1" for="firstName">First Name</label>
                    <input class="form-control " formControlName="firstName" [ngClass]="{ 'is-invalid':  f['firstName'].errors }" type="text" placeholder="Enter your First name" value={{user.firstName}} >
                    <div *ngIf="f['firstName'].errors" class="invalid-feedback">
                    <div *ngIf="f['firstName'].errors['required']">
                      <small class="text-danger">FirstName is required</small>
                    </div>
                    </div>
                  </div>
                    <div class="col-md-6">
                      <i class="bi bi-person-circle"></i>&nbsp;
                        <label class="small mb-1" for="inputLastName">Last Name</label>
                        <input class="form-control " formControlName="lastName" [ngClass]="{ 'is-invalid':  f['lastName'].errors }" type="text" placeholder="Enter your Last name" value={{user.lastName}} >
                        <div *ngIf="f['lastName'].errors" class="invalid-feedback">
                        <div *ngIf="f['lastName'].errors['required']">
                          <small class="text-danger">LastName is required</small>
                        </div>
                        </div>
                      </div>
                    <div class="col-md-6">
                      <i class="bi bi-person-vcard"></i>&nbsp;
                        <label class="small mb-1" for="inputUserName">User Name</label>
                        <input class="form-control " formControlName="userName" [ngClass]="{ 'is-invalid':  f['userName'].errors }" type="text" placeholder="Enter your User name" value={{user.userName}} >
                    <div *ngIf="f['userName'].errors" class="invalid-feedback">
                    <div *ngIf="f['userName'].errors['required']">
                      <small class="text-danger">UserName is required</small>
                    </div>
                    </div>
                      </div>
                </div>
               
                <div class="mb-3">
                  <i class="bi bi-envelope"></i>&nbsp;
                    <label class="small mb-1" for="inputEmailAddress">Email</label>
                    <input class="form-control " formControlName="email" [ngClass]="{ 'is-invalid':  f['email'].errors }" type="text" placeholder="Enter your Email" value={{user.email}} >
                    <div *ngIf="f['email'].errors" class="invalid-feedback">
                    <div *ngIf="f['email'].errors['required']">
                      <small class="text-danger">Enter valid Email</small>
                    </div>
                    </div>
                    
                  </div>
                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                      <i class="bi bi-phone"></i>&nbsp;
                        <label class="small mb-1" for="inputPhone">Mobile Number</label>
                        <input class="form-control " formControlName="mobileNumber" [ngClass]="{ 'is-invalid':  f['mobileNumber'].errors }" type="text" placeholder="Enter your Mobile Number" value={{user.mobileNumber}} >
                        <div *ngIf="f['mobileNumber'].errors" class="invalid-feedback">
                        <div *ngIf="f['mobileNumber'].errors['required']">
                          <small class="text-danger">Mobile Number is required</small>
                        </div>
                        </div>
                      </div>
                    <div class="col-md-6">
                      <i class="bi bi-geo-alt"></i>&nbsp;
                        <label class="small mb-1" for="inputLocation">Location</label>
                        <select class="form-control"  value={{user.location}} >
                          <div></div>
                          <option value="">Choose a Location</option>
                          <option
                            *ngFor="let location of locationList"
                            value="{{location}}"
                          >
                           {{location}}
                          </option>
                        </select>
                        
                      </div>
                </div>
                <hr class="colorgraph">
                <div class="mb-3">
                  <i class="bi bi-chat-left-heart"></i>&nbsp;
                  <label class="small mb-1" for="inputDescription">Description</label>
                  <textarea class="form-control " formControlName="description" rows="4" type="text" placeholder="Introduce yourself !" value={{user.description}} >
                  </textarea>
                  <div id="validationServerUsernameFeedback" class="invalid-feedback">
                    Please enter some Description.
                  </div>
                </div>
                <button class="btn btn-primary" type="button" (click)="onSubmit()"   > &nbsp; Save &nbsp; </button>
            </form>
        </div>
    </div>

    
</div>