.card{
    border-radius: 20px;
    height: fit-content;
    width: fit-content;
}
.main-card{
    padding: 2rem;
    width: 700px;
}
.service{
    flex-direction: row;
    display: flex;
    margin-top: 40px;
    margin-left: 200px;
    padding: 0% ;
    align-items: flex-start;
    display: flex;
    
}
.update-service{
    border-radius: 20px;
}
.scroll {
    max-height: 178px;
    overflow-y: auto;
}
.card-header{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #6366F1;
}
.card-body{
    border-radius: 20px;
}
.mb-4{
    margin-top: 0px;
    border-radius: 20px;
    margin-left: 15px;
    width: 600px;
} 
button{
    border-radius: 20px;
}
.p-mr-5 .custom-chip .ng-star-inserted .p-chip .p-component{
    background-color: #6366F1;
}


.p-card .p-component{
    border-radius: 30px;
}
input[type=number] {
    -moz-appearance: textfield;
  }

  .col-sm-2{
    margin-top: 20px;
  }
  .header-text{
 color:white;
  }
  .red{
    color: red;
  }
  :host ::ng-deep .p-button .p-button-icon-only{
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50px;
  }
