<div class="card main-card">
<div class="service">
    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
        <i class="bi bi-tools">  </i> Service :
          <form [formGroup]="userForm">
            <select class="form-control" formControlName="service" required>
              <option value="">Choose a Service</option>
              <option
                *ngFor="let serviceData of serviceList.services"
                value="{{ serviceData }}"
              >
                {{ serviceData }}
              </option>
            </select>
            <p class="card-text">
              <i class="bi bi-currency-rupee">  </i> Price :
              <input
                class="form-control "
                type="number"
                formControlName="price"
                placeholder="Enter your Price"
              />

              <br />
              <button class="btn btn-primary" (click)="addService()" style="background-color: #6366F1;">
                Add
              </button>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="update-service " >
    <br>
    <div class="card mb-4 ">
      <div class="card-header header-text">
        <i class="bi bi-tools"> </i> <b class =""> &nbsp; </b> Services </div>
        <div class="card-body scroll">
          <form [formGroup]="updateForm" >
            <div class="row"  *ngFor="let service of services">
              <div class="col-sm-6">
                <br>
                <i class="bi bi-wrench-adjustable"></i>  &nbsp;
                  <p-chip  label="" icon="" [removable]="true" removeIcon="bi bi-trash-fill" (onRemove)="deleteService(service)"  styleClass="p-mr-5 custom-chip" >{{service.service}}</p-chip>
                  <br>
              </div>
              
              <div class="col-sm-4" >
                
                  <br>
                  
                <p-inplace  [closable]="true"  >
                  
                  <ng-template pTemplate="display">
                    
                  <i class="bi bi-currency-rupee"></i>
                      {{service.price}}
                      
                  </ng-template>
                  <ng-template pTemplate="content">
                      <input type="number" 
                      class="form-control"
                      formControlName="price"  value={{service.price}} style="height: fit-content; width: 50px; border-radius: 10px;" pInputText>
                  </ng-template>
              </p-inplace>
              </div>
              
              <div class="col-sm-2" >
                
                <button pButton pRipple icon="pi pi-check" class="p-button-rounded p-button-success p-mr-3" (click)="updateService(service)"  style="width: 30px; height: 30px;"></button>
              </div>
            </div>
          </form>
        </div>
    </div>
  </div>
</div>