
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.fl{ float:left; }
.fr{ float: right; }

.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1; 
}

body {
    background: #F2F2F2;
    font-family: 'Droid Sans', sans-serif;
    line-height: 1;
    font-size: 16px; 
    margin-left: 120px;  
    margin-right: 70px;
    margin-top: 40px;
    height: 200px;
    border-radius: 20px;
    margin-bottom: 40px
}

.table {
    width: 100%;
    margin: 60px auto;
    text-align: center;
    padding: 10px;
    padding-right: 0;
}
.table .heading{
    color: #9C9E9F;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-bottom: 4rem;
}
.block{
    width: 21%;    
    margin: 0 15px;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;   
    margin-left: 30px; 
    margin-top: 35px;

}

.content{
    position: relative;
    color: #FEFEFE;
    padding: 20px 0 10px 0;
}

.content:after, .content:before,.pt-footer:before,.pt-footer:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.detail{
    position: relative;
    display: inline-block;
    margin-bottom: 0.625rem;
}
.detail span{    
    font-size: 6rem;
    letter-spacing: 8px;
    font-weight: bold;        
}
.detail sup{
    font-size: 1.5rem;    
    position: absolute;    
    top: 12px;
    left: -12px;
}
.hint{
    font-style: italic;
    font-size: 0.9rem;
}


.personal .title{        
    background: #36A2EB;    
    color: white;
}
.personal .content,.personal .pt-footer{
    background: #36A2EB;
}
.personal .content:after{	
	border-top-color: #36A2EB;	
}
.personal .pt-footer:after{
    border-top-color: #FFFFFF;
}

.professional .title{
    background: #228B22;
    color: white;
}
.professional .content,.professional .pt-footer{
    background: #228B22;
}
.professional .content:after{	
	border-top-color: #228B22;	
}
.professional .pt-footer:after{
    border-top-color: #FFFFFF;
}

.business .title{
    background: #FF5733;
    color: white;
}
.business .content,.business .pt-footer{
    background: #FF5733;
}
.business .content:after{	
	border-top-color: #FF5733;	
}
.business .pt-footer:after {	
	border-top-color: #FFFFFF;	
}


.waiting .title{
    background: rgb(20, 77, 15);
    color: white;
}
.waiting .content,.business .pt-footer{
    background: rgb(20, 77, 15);
}
.waiting .content:after{	
	border-top-color:  rgb(20, 77, 15);	
}
.business .pt-footer:after {
    border-top-color: #FFFFFF;	
} 

// .widget-container {
//     display: flex;
//     align-items: space-between;
//     background-color: white;
//     width: 1285px;
//     margin-left: 200px;
//     margin-top: 20px;
//     border-radius: 20px;
//     height: 150px;
//     .widget {
//       width: 325px;
//       height: 125px;
//       background-color: #fff;
//       color: #fff;
//       border-radius: 5px;
//       margin: 10px;
//       box-shadow: 5px 5px 5px #939393;
//       display: flex;
//       align-items: center;
//       padding: 20px;
//       &.green {
//         background-color: #36A2EB;
//       }
//       &.yellow {
//         background-color: #228B22;
//       }
//       &.red {
//         background-color: #FF5733;
//       }
//       &.blue {
//         background-color: rgb(20, 77, 15);
//       }
//       @media only screen and (max-width: 1600px) {
//         width: 300px;
//       }
//       @media only screen and (max-width: 1500px) {
//         width: 275px;
//       }
//       @media only screen and (max-width: 1400px) {
//         width: 250px;
//       }
//       @media only screen and (max-width: 1200px) {
//         width: 225px;
//       }
  
//       .icon {
//         width: 100px;
//         font-size: 60px;
//         text-align: center;
//         @media only screen and (max-width: 1200px) {
//           font-size: 45px;
//         }
//       }
//       .value {
//         text-align: center;
//         width: 175px;
//         .top {
//           font-size: 30px;
//           @media only screen and (max-width: 1200px) {
//             font-size: 26px;
//           }
//         }
//         .bottom {
//           font-size: 20px;
//           margin-top: 10px;
//           @media only screen and (max-width: 1200px) {
//             font-size: 16px;
//           }
//         }
//       }
//     }
//   }