
<body>
    <div class="wrapper">
        <div class="table group"> 

            <div class="block personal fl">
                
                <div class="content">
                        <div class="detail" style="font-size: 30px;">{{totalOrders}}</div>
                    <p class="hint">Total Number of orders</p>
                </div>
            </div>
          
            <div class="block professional fl">
                
                <div class="content">
                    <div class="detail" style="font-size: 30px;">{{acceptedOders}}</div>
                    <p class="hint">Count of Accepted orders</p>
                </div>             
            </div>
          
            <div class="block business fl">
                    
                <div class="content">
                    <div class="detail" style="font-size: 30px;">{{canceledOrders}}</div>
                    <p class="hint">Count of Declined orders</p>
                </div>
            </div>

            <div class="block waiting fl">
                             
                <div class="content">
                    <div class="detail" style ="font-size: 30px;">{{waitingOrders}}</div>
                    <p class="hint">Count of Pending orders</p>
                </div>                                   
            </div>
          
        </div>
 
    </div>
