<p-toast></p-toast>
<p-card class="card" header="Manage Orders" >
    <p-table [value]="waitingOrders.data" [rows]="5" [pageLinks]="3" [rowHover]="true" [(selection)]="waitingOrders.data"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                </th>
                <th pSortableColumn="serviceName">Service Name <p-sortIcon field="serviceName"></p-sortIcon></th>
                <th pSortableColumn="appointmentFrom">Appointment From <p-sortIcon field="appointmentFrom"></p-sortIcon></th>
                <th pSortableColumn="appointmentTo">Appointment To <p-sortIcon field="appointmentTo"></p-sortIcon></th>
                <th pSortableColumn="status">Order Status <p-sortIcon field="status"></p-sortIcon></th>
                <th pSortableColumn="viewDetails">Customer Details </th>
                <th pSortableColumn="acceptOrder">Accept </th>
                <th pSortableColumn="declineOrder">Decline </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order>
            <tr>
                <td >
                    
                </td>
               <td>{{order.serviceName}}</td>
                <td>{{order.appointmentFrom | date :'short'}}</td>
                <td>{{order.appointmentTo | date :'short'}}</td>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span pBadge [value]="order.status" size="large" styleClass="p-mr-2" severity="warning" ></span></td> 
                    <td>
                        <button pButton pRipple  class=" p-button p-mr-2 viewDetails" (click)="viewDetails(order.id)" >View Details</button>
                    </td>
                <td>
                    <button pButton pRipple icon="pi pi-check" class="p-button-rounded p-button-success p-mr-2" (click)="acceptOrder(order.id)"></button>
                </td>
                <td>
                    <button pButton pRipple icon="pi pi-times" class="p-button-rounded p-button-danger p-mr-2" (click)="declineOrder(order.id)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                In total there are {{waitingOrders.data ? waitingOrders.data.length : 0 }} orders.
            </div>
        </ng-template>
    </p-table>
    <p-paginator [rows]="10" [totalRecords]="totalRecords" (onPageChange)="paginate($event)"></p-paginator>
</p-card>
<p-dialog [(visible)]="detailsDialog"  style="width: fit-content;border-radius: 20px;" header="Customer Details" [modal]="true" styleClass="p-fluid" class="dialog">
    <ng-template pTemplate="content" >
        <div class="container dialogContainer">
            <div class="row">
                
              <div class="col" style="margin-top: 50px;">
              
                <img class="card-img-top img-fluid" [src]="viewDetailData.customer.profilePicture"  alt="" >
                &nbsp;
              </div>
              <div class="col-8">
                &nbsp;
                <p><i class="bi bi-person-fill"></i>&nbsp;{{viewDetailData.customer.firstName}} &nbsp;{{viewDetailData.customer.lastName}}</p>
        <p><i class="bi bi-person-square"></i>&nbsp;{{viewDetailData.customer.userName}}</p>
        &nbsp;
        <h5 style="color: #6366F1;"><i class="bi bi-person-lines-fill"></i> &nbsp;<b>Contact Details:</b></h5>
        &nbsp;
        <p><i class="bi bi-envelope-at-fill"></i>&nbsp; {{viewDetailData.customer.email}}</p>
        <p><i class="bi bi-phone-fill"></i>&nbsp;{{viewDetailData.customer.mobileNumber}}</p>
        <p><i class="bi bi-geo-alt-fill"></i>&nbsp;{{viewDetailData.customer.address}}</p>
              </div>
            </div>
        </div>
        
        

    </ng-template>
    
</p-dialog>

<p-confirmDialog style="width: fit-content;border-radius: 20px;"></p-confirmDialog>
