<!-- Start Landing Page -->

<div class="landing-page">
    <div class="container">
      <div class="info">
        <h1>Home Services At Your Doorstep</h1>
        <p>We Offer a wide range of services such as cleaning, 
          handyman services, landscaping, and appliance repair. </p>
        <br><br>
        <app-search></app-search>
      </div>
      <div class="image">
        <img src="../../../../../assets/images/home-removebg.png">
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  
  <!-- End Landing Page -->