.btn{
    margin-top: 20px;
    border-radius: 15px;
    background: linear-gradient(0deg, #6366F1 0%, rgba(63, 81, 181, 0.12) 100%);
}
.btn-block{
    border: #6366F1;
    background-color: #3F51B5;
}

.btn:hover{
    background-color: #6366F1;
}


.panel-heading{
    text-align: center;
    margin-bottom: 10px;
}

#forget{
    min-width: 100px;
    margin-left: auto;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

a{
    text-decoration: none;
    color: #6366F1;
}

.form-inline label{
    padding-left: 10px;
    margin: 0;
    cursor: pointer;
}


.btn-block{
    border: #6366F1;
    background-color: #6366F1;
}

.btn:hover{
    background-color: white;
}
.panel{
    min-height: 380px;
    box-shadow: 10px 20px 200px rgb(228, 225, 225);
    border-radius: 25px;
    margin-top: 50px;
    border: hsl(33, 33%, 86%);
    background-color: hsl(33, 33%, 86%);
}

.input-field{
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid rgb(120, 118, 118);
    color: #3F51B5;
}

.input-field.error{
    border: 1px solid red;
    color: red;
}


.fa-eye-slash.btn{
    border: none;
    outline: none;
    box-shadow: none;
}

img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}

.bordert{
  border-top: 1px solid hsl(33, 33%, 86%);
  position: relative;
}

.bordert:after{
  content: "or connect with";  
  position: absolute;
  top: -13px;
  left: 33%;
  background-color: hsl(33, 33%, 86%);
  padding: 0 8px;

}

h3{
    color: #6366F1;
}

input, textarea{
    border: none;
    /* height: 40px;
    align-content: space-around; */
    background-color: white;
}
::placeholder{
    color: #6366F1;
    opacity: 1 !important;
}

.text-muted
{
    color: hsl(0, 0%, 4%);
}
.modal-backdrop {  
    display: none;    
}

.outer .container .panel .table{
    width: 300px;
}

input[type='text'],
input[type='password'] {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    color: hsl(0, 3%, 7%);

}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  
  .fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  }
  
  .fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  
  .fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  
  .fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  
  .fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
  }
  
  .underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
  }
  
  .underlineHover:hover {
    color: #0d0d0d;
  }
  
  .underlineHover:hover:after{
    width: 100%;
}