img{
    height: 200px;
    width: 200px;
}
.p-dialog-header{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card{
    margin: 20px 50px 20px 50px;
    border-radius: 20px;
    border-color: #6366F1;
}
:host ::ng-deep  .p-datatable-wrapper{
    border-radius: 20px;
}
.inner{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;

    border-radius: 20px;
    padding: 2rem;
}
:host ::ng-deep .p-button {
    border-radius: 20px;
}
.card-upper{
    padding: 2rem;
    border-color: #6366F1;
}

:host ::ng-deep .p-dialog-header{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

:host ::ng-deep .p-dialog-footer{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

:host ::ng-deep .p-calendar{
    border-radius: 20px;
}